html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-color: #fafafa;
  overflow-x: hidden;
  font-size: 14px;
  height: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.visually-hidden a:focus,
.visually-hidden input:focus,
.visually-hidden button:focus {
  position: static;
  width: auto;
  height: auto;
}

#gatsby-focus-wrapper,
#___gatsby {
  height: 100%;
}
